<p>Xin chào <%= @resource.email %>!</p>

<p>Đường dẫn để bạn cập nhật lại mật khẩu ở phia dưới :</p>

<% url = "#{ENV['FE_URL'] || 'http://localhost:3000'}/reset-password?token=#{@token}&email=#{@resource.email}" %>
<p><%= link_to 'Cập nhật lại mật khẩu', url %></p>

<p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>

<p>Trân trọng,<br>Đội ngũ Autoeva</p>
